In [ ]:
def mean(a):
  b = sum(a)/len(a)
  return b
mean([5,2,7,4,1,8,11,15,17,25])

9.5

In [ ]:
a = [5,2,7,4,1]
sum(a)

19

In [ ]:
a = [5,2,7,4,1]
b = sum(a)
l = len(a)
b/l

3.8

In [ ]:
x = [8,11,15,17,25]
b = sum(x)
l = len(x)
b/l

15.2

In [ ]:
mean([1,2,3,4,5])

3.0

In [ ]:
#Q - Create a class named mylist and create and display a list
class mylist:
  def __init__(self,a):
    self.a = a
  def display(self):
    return self.a
obj6 = mylist([5,2,7,4,1])
obj6.display()

[5, 2, 7, 4, 1]

In [ ]:
#Q - Create a class named mylist1 and print the mean of the list
class mylist1:
  def __init__(self,a1):
    self.a1 = a1
  def display1(self):
    mean = sum(self.a1)/len(self.a1)
    return mean
obj7 = mylist1([8,11,15,17,25])
obj7.display1()

15.2

In [ ]:
#Connector - Connecting object of one class to another class
obj7.a1 = obj6.a

In [ ]:
obj7.a1

[5, 2, 7, 4, 1]

In [ ]:
obj7.display1()

3.8