In [1]:
import pandas as pd

In [2]:
#Creation of Series
a = [5,2,7,4,1]
s = pd.Series(data=a)

In [3]:
s

0    5
1    2
2    7
3    4
4    1
dtype: int64

In [4]:
b = [8,11,15,17,25]
s1 = pd.Series(data=b)
s1

0     8
1    11
2    15
3    17
4    25
dtype: int64

In [5]:
#Basic arithmetic operations 
s+s1

0    13
1    13
2    22
3    21
4    26
dtype: int64

In [6]:
s-s1

0    -3
1    -9
2    -8
3   -13
4   -24
dtype: int64

In [7]:
s*s1

0     40
1     22
2    105
3     68
4     25
dtype: int64

In [8]:
s/s1

0    0.625000
1    0.181818
2    0.466667
3    0.235294
4    0.040000
dtype: float64

In [9]:
s**s1

0           390625
1             2048
2    4747561509943
3      17179869184
4                1
dtype: int64

In [10]:
s%s1

0    5
1    2
2    7
3    4
4    1
dtype: int64

In [11]:
s//s1

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [12]:
c = [1,2,3,4,5]

In [13]:
d = ['one','two','three','four','five']

In [14]:
type(c)

list

In [15]:
c

[1, 2, 3, 4, 5]

In [16]:
s = pd.Series(data=a,index=c)

In [17]:
s

1    5
2    2
3    7
4    4
5    1
dtype: int64

In [18]:
s = pd.Series(data=a,index=d)

In [19]:
s

one      5
two      2
three    7
four     4
five     1
dtype: int64

In [20]:
s1 = pd.Series(data=b,index=d)
s1

one       8
two      11
three    15
four     17
five     25
dtype: int64

In [21]:
s = pd.Series(a,d)
s

one      5
two      2
three    7
four     4
five     1
dtype: int64

In [22]:
s1 = pd.Series(b,d)

In [23]:
s1

one       8
two      11
three    15
four     17
five     25
dtype: int64

In [24]:
s = pd.Series(data=a,index=[1,2,3,4,5])
s

1    5
2    2
3    7
4    4
5    1
dtype: int64

In [25]:
s = pd.Series(data=a,index=['one','two','three','four','five'])
s

one      5
two      2
three    7
four     4
five     1
dtype: int64

In [26]:
s1 = pd.Series(data=b,index=['one','two','three','four','five'])
s1

one       8
two      11
three    15
four     17
five     25
dtype: int64

In [27]:
#concat - Joining of two series from columns and automatic creation of a data frame
df1 = pd.concat([s,s1],axis=1)

In [28]:
df1

       0   1
one    5   8
two    2  11
three  7  15
four   4  17
five   1  25

In [29]:
s

one      5
two      2
three    7
four     4
five     1
dtype: int64

In [30]:
s1

one       8
two      11
three    15
four     17
five     25
dtype: int64

In [31]:
type(df1)

pandas.core.frame.DataFrame

In [32]:
#concat - Joining of two series from rows.
#The end outcome will also result in a series
df2 = pd.concat([s,s1],axis=0,sort=False)

In [33]:
df2

one       5
two       2
three     7
four      4
five      1
one       8
two      11
three    15
four     17
five     25
dtype: int64

In [34]:
type(df2)

pandas.core.series.Series